/* sky color */

.scroll-down-left {
    position: absolute;
    left: 30px;
    bottom: 2rem;
    font-size: 2rem;
    color: #baabeb;
    animation: bounce 3s ease-in-out infinite;
}

.scroll-down-right {
    position: absolute;
    right: 30px;
    bottom: 2rem;
    font-size: 2rem;
    color: #baabeb;
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-2rem); }
    100% { transform: translateY(0); }
}
@-webkit-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-2rem); }
    100% { transform: translateY(0); }
}
@-moz-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-2rem); }
    100% { transform: translateY(0); }
}

/*
#parallax-container { 
}
*/

.background-container {
    background-image: linear-gradient(rgb(13, 65, 143), rgb(235, 156, 71), rgb(186, 0, 0));
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
}

.parallax {
    height: 500px; /* fallback */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    /* perspective-origin-x: 100%; */
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback */
    height: 100vh;
    width: 100vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: -5;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    /* transform-origin-x: 100%; */
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
    background-image: linear-gradient(#213a06 40%, #1a1300);
    height: 100vh;
    clip-path: polygon(0 71%, 8% 80%, 12% 85%, 14% 75%, 15% 85%, 21% 90%, 23% 81%, 25% 91%, 32% 88%, 40% 93%, 48% 92%, 49% 83%, 51% 93%, 66% 92%, 81% 83%, 82% 77%, 83% 82%, 90% 79%, 100% 66%, 100% 100%, 0 100%);
}

.light-rays {
    background: rgba(191, 0, 255, 0.577);
    background-repeat: no-repeat;
    /*
    background-size: 1000px 3000px;
    background-position: -50rem 0rem;
    */
    opacity: 0.3;
    width: 140vw;
    height: 160vh;
    z-index: 0;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-150px) scale(1.5);
    transform: translateZ(-150px) scale(1.5);
    z-index: -2;
    background: radial-gradient(rgb(255, 255, 255), rgb(48, 38, 5), rgb(39, 58, 12));
    clip-path: polygon(0 33%, 8% 53%, 13% 61%, 14% 60%, 14% 63%, 17% 66%, 18% 65%, 18% 68%, 26% 77%, 27% 75%, 28% 79%, 41% 86%, 63% 85%, 70% 80%, 76% 74%, 77% 71%, 78% 73%, 88% 61%, 100% 40%, 100% 100%, 0 100%);
}

.parallax__layer--town {
    -webkit-transform: translateZ(-190px) scale(2);
    transform: translateZ(-190px) scale(2);
    width: 80rem;
    z-index: -3;
    background-image: linear-gradient(rgb(105, 80, 25) 60%, rgb(0, 0, 0));
    clip-path: polygon(0 80%, 18% 81%, 37% 80%, 37% 77%, 39% 78%, 39% 80%, 40% 80%, 40% 77%, 41% 76%, 41% 80%, 42% 80%, 42% 78%, 44% 77%, 44% 80%, 46% 81%, 46% 78%, 45% 78%, 47% 75%, 49% 78%, 48% 78%, 48% 81%, 50% 81%, 50% 77%, 52% 78%, 52% 80%, 53% 80%, 53% 77%, 55% 77%, 55% 80%, 57% 80%, 57% 78%, 56% 78%, 58% 76%, 60% 78%, 59% 78%, 59% 80%, 61% 80%, 61% 76%, 63% 76%, 63% 80%, 64% 80%, 64% 75%, 66% 76%, 66% 80%, 67% 80%, 67% 77%, 69% 76%, 69% 80%, 70% 80%, 70% 77%, 69% 77%, 71% 75%, 73% 77%, 72% 77%, 72% 80%, 74% 80%, 74% 75%, 76% 76%, 76% 80%, 77% 80%, 77% 76%, 79% 75%, 79% 80%, 100% 80%, 100% 100%, 0 100%);
}

.parallax__layer--town2 {
    -webkit-transform: translateZ(-200px) scale(2);
    transform: translateZ(-200px) scale(2);
    background-image: linear-gradient(rgb(165, 116, 9) 60%, rgb(24, 24, 24));
    clip-path: polygon(0 80%, 18% 81%, 37% 80%, 37% 77%, 39% 78%, 39% 80%, 40% 80%, 40% 77%, 41% 76%, 41% 80%, 42% 80%, 42% 78%, 44% 77%, 44% 80%, 46% 81%, 46% 78%, 45% 78%, 47% 75%, 49% 78%, 48% 78%, 48% 81%, 50% 81%, 50% 77%, 52% 78%, 52% 80%, 53% 80%, 53% 77%, 55% 77%, 55% 80%, 57% 80%, 57% 78%, 56% 78%, 58% 76%, 60% 78%, 59% 78%, 59% 80%, 61% 80%, 61% 76%, 63% 76%, 63% 80%, 64% 80%, 64% 75%, 66% 76%, 66% 80%, 67% 80%, 67% 77%, 69% 76%, 69% 80%, 70% 80%, 70% 77%, 69% 77%, 71% 75%, 73% 77%, 72% 77%, 72% 80%, 74% 80%, 74% 75%, 76% 76%, 76% 80%, 77% 80%, 77% 76%, 79% 75%, 79% 80%, 100% 80%, 100% 100%, 0 100%);
    z-index: -4;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: -3;
    background-image: linear-gradient(178deg, rgb(227, 227, 227) 20%, rgb(44, 54, 13), rgb(171, 134, 0));
    clip-path: polygon(0 55%, 18% 45%, 32% 31%, 47% 29%, 70% 33%, 83% 46%, 100% 55%, 100% 100%, 0 100%);
    -webkit-filter:blur(1px);
    filter:blur(1px);
}

.ridge1 {
    width: 80rem;
    height: 30rem;
    opacity: 0.5;

    position: absolute;
    left: 38vw;
    top: 55vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(20deg);

    z-index: -1;
    background-color: rgb(69, 69, 69);
    clip-path: polygon(44% 13%, 44% 23%, 44% 30%, 45% 45%, 44% 40%, 41% 53%, 44% 36%, 43% 27%);
}

.ridge2 {
    width: 80rem;
    height: 28rem;
    opacity: 0.5;

    position: absolute;
    left: 42vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scaleX(-1) skewX(-10deg);

    z-index: -1;
    background-color: rgb(69, 69, 69);
    clip-path: polygon(44% 18%, 44% 23%, 44% 30%, 45% 45%, 44% 40%, 41% 53%, 44% 36%, 43% 27%);
}

.ridge3 {
    width: 88rem;
    height: 28rem;
    opacity: 0.5;

    position: absolute;
    left: 58vw;
    top: 53vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scaleX(-1) skewX(-25deg);

    z-index: -1;
    background-color: rgb(69, 69, 69);
    clip-path: polygon(44% 13%, 44% 23%, 44% 30%, 45% 45%, 44% 40%, 41% 53%, 44% 36%, 43% 27%);
}

.parallax__layer--sky {
    -webkit-transform: translateZ(-900px) scale(4);
    transform: translateZ(-900px) scale(4);
    z-index: -4;
    height: 100vh;
    width: 100vw;
}

.parallax {
    font-size: 200%;
}

/* centre content */
 
.stars {
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;   
    display: block;
}

.sun {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: radial-gradient(#ffc64b 40%, #ffc533);
    box-shadow: 0 0 100px rgb(255, 233, 161);
    position: absolute;
    top: 40vh;
    bottom: 0;
    left: 88vw;
    right: 0;   
    display: block;
    z-index: -3;
}

.clouds {
    position: absolute;
    left: -1000px;
    opacity: 0.3;
    width: 3000px;
    height: 80vh;
    background-repeat: repeat-x;
    background-size: 1000px 600px;
  
    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}


@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

    @-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}